{% import 'macros/form.html' as form %}

<form id="user-edit-form" class="dataset-form" method="post" action="{{ action }}">
  {{ form.errors(error_summary) }}

  <fieldset>
    <legend>{{ _('Change details') }}</legend>
    
    {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}

    {% set fullname_req = h.advancedauth_require_fullname() %}
    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium'], is_required=fullname_req) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=True) }}

    {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

    {% if show_email_notifications %}
      {% call form.checkbox('activity_streams_email_notifications', label=_('Subscribe to notification emails'), id='field-activity-streams-email-notifications', value=True, checked=g.userobj.activity_streams_email_notifications) %}
      {% set helper_text = _("You will receive notification emails from {site_title}, e.g. when you have new activities on your dashboard."|string) %}
      {{ form.info(helper_text.format(site_title=g.site_title), classes=['info-help-tight']) }}
      {% endcall %}
    {% endif %}

    {% for item in h.advancedauth_schema() %}
      {% set key = item[0] %}
      {% set value = item[1] %}
      {% if value.get('input', '') == 'text' %}
        {{ form.input(key, id="field-" + key, label=_(value.get('label', '')), placeholder=_(value.get('placeholder', '')), value=data[key], error=errors[key], classes=["control-medium"], is_required=value.get('required', False)) }}
      {% elif value.get('input', '') == 'textarea' %}
        {{ form.textarea(key, id="field-" + key, label=_(value.get('label', '')), placeholder=_(value.get('placeholder', '')), value=data[key], error=errors[key], classes=["control-medium"], is_required=value.get('required', False)) }}
      {% elif value.get('input', '') == 'checkbox' %}
        {{ form.checkbox(key, id="field-" + key, label=_(value.get('label', '')), placeholder=_(value.get('placeholder', '')), value=True, checked=data[key], error=errors[key], classes=["control-medium"], is_required=value.get('required', False)) }}
      {% elif value.get('input', '') == 'select' %}
        <div class="form-group control-medium mb-0">
          <label for="field-{{ key }}">
            {% if value.get('required', False) %} <span title="This field is required" class="control-required">*</span> {% endif %} {{ value.get('label', '') }}
          </label>
          <div class="controls">
            <select name="{{ key }}" id="field-{{ key }}" class="form-control">
              {% for option in value.get('choices', []) %}
                <option value="{{ option.get('value', '') }}" {% if option.get('value', '') == data[key] %} selected {% endif %} {% if value.get('required', False) %} required {% endif %} >
                  {{ option.get('label', '') }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% elif value.get('type', '') == 'note' %}
        <p id="note-{{ key }}">{{ value.get('text', '')|safe }}</p>
      {% endif %}
    {% endfor %}

  </fieldset>

  <fieldset>
    <legend>{{ _('Change password') }}</legend>
    {{ form.input('old_password',
                  type='password',
                  label=_('Sysadmin Password') if is_sysadmin else _('Old Password'),
                  id='field-password',
                  value=data.oldpassword,
                  error=errors.oldpassword,
                  classes=['control-medium'],
                  attrs={'autocomplete': 'off', 'class': 'form-control'}
                  ) }}

    {{ form.input('password1', type='password', label=_('Password'), id='field-password', value=data.password1, error=errors.password1, classes=['control-medium'], attrs={'autocomplete': 'off', 'class': 'form-control'} ) }}

    {{ form.input('password2', type='password', label=_('Confirm Password'), id='field-password-confirm', value=data.password2, error=errors.password2, classes=['control-medium'], attrs={'autocomplete': 'off', 'class': 'form-control'}) }}
  </fieldset>

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        <a class="btn btn-danger pull-left" href="{% url_for 'user_delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this User?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    {{ form.required_message() }}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Update Profile') }}</button>
  </div>
</form>
