{% extends "page.html" %}
{% import "macros/form.html" as form %}

{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ _('Password Reset') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    {% block primary_content_inner %}
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Reset Your Password') }}{% endblock %}
      </h1>
      <br />
      <p>The mapMECFS team has requested a password change for your account.</p>
      {% block form %}
        <form action="" method="post">
          {{ form.errors(error_summary) }}
          <!-- ckan_user_update -->
          <div style="display:none;">
          {{ form.input('name', id='field-username', type='hidden', value=data.name) }}
          {{ form.input('email', id='field-email', type='hidden', value=data.email) }}
          </div>
          {{ form.input('old_password',
              type='password',
              label=_('Sysadmin Password') if is_sysadmin else _('Old Password'),
              id='field-password-old',
              value=data.oldpassword,
              error=errors.oldpassword,
              classes=['control-medium'],
              attrs={'autocomplete': 'off', 'class': 'form-control'}
              ) }}
          {{ form.input("password1", id="field-password", label=_("Password"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
          {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
          <div class="form-actions">
            {% block form_button %}
            <button class="btn btn-primary" type="submit" name="save">{{ _("Update Password") }}</button>
            {% endblock %}
          </div>
        </form>
      {% endblock %}
    </div>
    {% endblock %}
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Simply enter a new password and we'll update your account{% endtrans %}</p>
      <p>Your password must be 10 characters or longer, and consist of at least three of the following character sets: uppercase characters, lowercase characters, digits, punctuation & special characters. </p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}

<script type="text/javascript">
  var errors = document.querySelectorAll('.error-explanation li');
  errors.forEach(function(error) {
    // replace 'Password1:' and 'Password2:' with 'Password:'
    var text = error.textContent;
    text = text.replace("Password1:", "Password:").replace("Password2:", "Password:");
    error.textContent = text;
  });
</script>