{% extends "page.html" %}

{% block subtitle %}{{ _('Reset your password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Password Reset'), named_route='user.request_reset' %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">{{ _('Reset your password') }}</h1>
      {% if request.args.get('name') %}
        <p style="margin-top: 10px; margin-bottom: 10px">For enhanced security, we're asking some of our users to reset their passwords. We appreciate your cooperation in helping us maintain a secure environment for everyone.</p>
      {% endif %}
      {% block form %}
        <form action="" method="post">
          <div class="form-group">
            <label for="field-username">{{ _('Email or username') }}</label>
            <input id="field-username" class="control-medium form-control" name="user" value="{{ request.args.get('name', '') }}" type="text" />
          </div>
          <div class="form-actions">
            {% block form_button %}
            <button class="btn btn-primary" type="submit" name="reset" onclick="toggleEmailCase(this)">{{ _("Request Reset") }}</button>
            {% endblock %}
          </div>
        </form>
      {% endblock %}
      {% endblock %}
    </div>
  </article>
  <script type="text/javascript">
    function toggleEmailCase(){
      let usernameField = document.getElementById('field-username')
      let usernameValue = usernameField.value.includes('@') ? usernameField.value.toLowerCase() : usernameField.value
      usernameField.value = usernameValue
    }
  </script>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Enter your email address or username into the box and we
        will send you an email with a link to enter a new password.
        {% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
